
<!doctype html>
<html>
    <link>
        <title>Pokeneas</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="../public/css/global.css">
        <style>
            body {
                background-color: #f0f0f2;
                margin: 0;
                padding: 0;
            }
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 600px;
                margin: 5em auto;
                padding: 2em;
                background-color: #fdfdff;
                border-radius: 0.5em;
                box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
            }
            .imagen {
                margin: 2px;
                border-radius: 5px;
                box-shadow: 10px 5px 5px black;
            }
            .carta{
                width: 446px;
                height: 617px;
            }
            .frase, .contenedor{
                display: flex;
                justify-content: center;
                width: 50%;
                margin: 5px;
                border: solid;
                border-color: #ffcf9e;
                border-radius: 5px;
                background-color: #f8ddc2;
            }
            p {
                margin: 5px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Pokeneas</h1>
            <div class="imagen">
                <img class="carta" src="<%= pokenea.imagen %>" />
            </div>
            <div class="frase">
                <p><%= pokenea.frase %></p>
            </div>
            <div class="contenedor">
                <p>contenedor: <%= contenedor %></p>
            </div>
        </div>
    </body>
</html>